@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div, button, label {
  box-sizing: border-box;
}

/* colors */
body {
  /*--r-color-primary: #0099ff;*/
  --r-color-primary: #2266ff;
  --r-color-primary-dark: #1976d2;
  --r-color-primary-light: #bbdefb;
}

.btn-activecolor-primary {
  --r-color-button-active: var(--r-color-primary);
}

/* button styling */
.r-btn {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  outline: 0;
  border: 0;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.0892857143em;
  transition-duration: 0.28s;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: middle;
  /**/
  padding: 0 16px;
  height: 32px;
  background-color: #555;
  color: #fff;
}

.r-btn.r-btn-active {
  background-color: var(--r-color-button-active);
}

.r-btn:not(.r-disabled) {
  cursor: pointer;
}

.r-btn:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: #fff;
  opacity: 0;
  transition-duration: 0.28s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.r-btn:not(.r-disabled):hover::before {
  opacity: 0.12;
}

.r-btn:not(.r-disabled):active::before {
  opacity: 0.24;
}

.r-btn.r-disabled {
  pointer-events: none;
  opacity: 0.38;
}

.r-btn span {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  transition: inherit;
  transition-property: opacity;
}

/* ButtonGroup */
.r-btngroup {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.r-btngroup .r-btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.r-btngroup .r-btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.r-btngroup .r-btn:not(:last-child, :first-child) {
  border-radius: 0;
}

menu.r-menu {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
}
menu.r-menu, menu.r-menu menu {
  padding: 0;
  margin: 0;
}
menu.r-menu button, menu.r-menu label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  padding: 0.3rem 28px;
  margin: 0;
  border: none;
  color: currentColor;
  cursor: pointer;
  background-color: transparent;
}
menu.r-menu button {
  width: 100%;
}
menu.r-menu > button, menu.r-menu label {
  height: 100%;
}
menu.r-menu input[type=checkbox], menu.r-menu input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
  line-height: 14px;
  text-align: center;
  height: 14px;
  width: 14px;
  color: currentColor;
}
menu.r-menu input[type=checkbox]::before, menu.r-menu input[type=radio]::before {
  content: "✓";
  color: currentColor;
  opacity: 0;
  font-size: 10px;
  transition-property: opacity;
  transition-duration: 0.1s;
}
menu.r-menu input[type=checkbox]:checked::before, menu.r-menu input[type=radio]:checked::before {
  opacity: 1;
}
menu.r-menu li {
  position: relative;
}
menu.r-menu li:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: #fff;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
menu.r-menu li:hover:before {
  opacity: 0.12;
}
menu.r-menu li[data-separator] {
  height: 1px;
  margin: 0.3rem 0;
  background-color: rgba(255, 255, 255, 0.2);
}
menu.r-menu > li > button, menu.r-menu > li > label {
  padding: 0.5rem 1rem;
}
menu.r-menu > li:hover:before {
  opacity: 0.12;
}
menu.r-menu > li menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #333;
  border-radius: 6px;
}
menu.r-menu > li menu menu {
  top: 0;
  left: 100%;
}
menu.r-menu > li menu li:first-child {
  margin-top: 6px;
}
menu.r-menu > li menu li:last-child {
  margin-bottom: 6px;
}
menu.r-menu > li > menu {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
menu.r-menu > li:hover > menu, menu.r-menu > li li:hover > menu {
  display: block;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  --toolbar-height: 32px;
}

/* Toolbar */
.toolbar {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 12px;
  z-index: 3;
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: var(--toolbar-height);
}
.toolbar .menu-title {
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #004488;
}
.toolbar > menu {
  height: 100%;
}

.window-container {
  display: flex;
  height: calc(100% - var(--toolbar-height));
}

.window {
  position: relative;
  flex: 1;
  height: 100%;
  max-width: 100%;
  transition-property: flex, box-shadow, max-width;
  transition-duration: 0.3s;
  overflow: hidden;
}

.view-dynamic .window:hover {
  flex: 3;
}

.view-editor .window-right {
  max-width: 0%;
  flex: 0;
}

.view-view .window-left {
  max-width: 0%;
  flex: 0;
}

.window-left {
  background-color: #fff;
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0 0 32px;
}

.view-view .window-left {
  box-shadow: rgba(0, 0, 0, 0) 0 0 32px;
}

.window-right {
  background-color: #333;
  z-index: 1;
}

.window-viewselector {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #555;
  z-index: 6;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
}

/* Editor */
.editor {
  display: flex;
  flex-flow: column;
  height: 100%;
  z-index: 2;
}
.editor .editor-footer {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 12px;
  z-index: 2;
}
.editor .editor-footer {
  background-color: #ddd;
  min-height: 48px;
}
.editor .editor-content {
  background-color: #fff;
  flex: 2;
  overflow: hidden;
  z-index: 1;
}
.editor .editor-content canvas {
  width: 100%;
  height: 100%;
}
.editor .editor-content canvas:focus {
  outline: none;
}

/* View */
.display-container {
  --display-padding: 0px;
  --display-width: 800px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.display-container .display-container-inner {
  display: flex;
  aspect-ratio: 2/1;
  flex-grow: 1;
  max-height: calc(100% - var(--display-padding) * 2);
  justify-content: center;
}
.display-container .display-container-inner .raycast-display {
  display: block;
  aspect-ratio: 2/1;
  background-color: #000;
  max-width: calc(100% - var(--display-padding) * 2);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 16px;
}